<h3>Welcome to Sinatra!</h3>
<form action="/submit_user" method="POST">
	<input type="text" name="user[first]" value="First" />
	<input type="text" name="user[last]" value="Last" />
	<input type="text" name="user[email]" value="Email" />
	<input type="text" name="user[password]" value="password" />
	<input type="text" name="user[screenname]" value="Screenname" />
	<input type="text" name="user[social_security]" value="social" />
	<input type="submit" value="Submit" />
</form>