<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
	<input type="text" name="guest[name]" value="Enter Guest Name" />
	<input type="text" name="guest[message]" value="Enter Message" />
	<input type="submit" value="Submit" />
</form>